.currencyWrap {
    max-width: 200px;
    text-align: center;
    width: 100%;
}

.currencySelectWrap {
    margin-bottom: 5px;
}

.resultWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    margin: 0 auto;
}

.resultName {
    display: flex;
    flex-direction: column;
    color: orange;
}

.resultQuotes {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.currencyTitle {
    font-weight: 400;
    color: orange;
    margin-bottom: 10px;
}

.currencySelect {
    max-width: 110px;
    width: 100%;
    height: 23px;
}

.currencyNumber {
    color: #fff;
}

.currencySumbol {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}