* {
    margin: 0;
}

body {
    background-color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
    display: grid;
    max-width: 700px;
    height: 100vh;
    background-color: rgb(78, 78, 78);
    grid-template-areas:
        "n c"
    ;
    grid-template-columns: 3fr 9fr;
    grid-gap: 5px;
    padding: 0 5px;
    margin: 0 auto;
}

.app-wrapper-navbar {
    grid-area: n;
    padding: 20px 10px;
}

.app-wrapper-content {
    grid-area: c;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px 10px 10px;
}


input {
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 3px;
    max-width: 120px;
}

input:focus {
    box-shadow: 0 0px 5px #fff;
}

.active {
    background-color: rgba(218, 165, 32, 0.425);
    cursor: pointer;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 15px;
}